@import "../../App.scss";

.build-better__underline {
  font-family: $gothic;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #676767;
  margin: 40px 0 0 0;
}
.st__t {
  transform-origin: 21.3% 39.79%;
}
.index-section {
  height: calc(100vh);
}

.index__first-section {
  display: flex;
  align-items: center;
  // justify-content: center;
  flex-flow: row wrap;
  height: calc(100vh - 140px);
}
.index__first-section .st-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.explore {
  width: 100%;
  margin-bottom: 25px;
  &__text,
  &__arrow {
    font-family: "Century Gothic Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    text-align: center;
    color: #676767;
  }
}

.index__second-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second-section {
  &__mark {
    position: relative;
    left: -50px;
  }
  &__text {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    &-title {
      margin-bottom: 32px;
      &__first-line {
        margin-bottom: 25px;
        svg {
          margin-right: 10px;
        }
      }
    }
    &-body {
      font-family: $gothic;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      max-width: 380px;
      color: #676767;
    }
  }
}

.third-section {
  display: flex;
  width: 100%;
  flex-flow: row;
  // justify-content: space-between;
  align-items: center;
  &__left {
    position: relative;
    &__splash {
      position: absolute;
      top: 35px;
      left: -175px;
    }
    &__laptop {
      position: relative;
      left: -350px;
    }
  }
  &__text {
    left: -350px;
    &__title {
      display: flex;
      flex-flow: column wrap;
    }
    &__body {
      margin-top: 30px;
    }
  }
}
