@import "../../App.scss";

.service-card {
  width: 260px;
  height: 260px;
  border: 2px dashed #24ffa8;
  position: relative;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(36, 255, 168);
  opacity: 6%;
  transform-origin: 50% 50%;
  transform: matrix(1, -0.04, 0.04, 1, -10, 8);
}

