/** Fonts */
$gothic: "century-gothic";
$lust: "lust";
$poppins: "century-gothic";
$playfair: "Playfair Display";

$font-family-1: $gothic, $poppins, "serif";
$font-family-2: $lust, $playfair, "serif";
// Fonts end

a,
a:hover,
a :visited {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  cursor: none;
}

.typewriter-char {
  // opacity: 0;
}
.body {
  padding: 0 200px;
}

html,
body {
  cursor: none;
  overflow-x: hidden;
  padding-bottom: 100vh;
}

.cursor {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: fixed;
  border: 1px solid #373737;
  top: 50%;
  left: 50%;
}
