body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../public/fonts/metropolis/Metropolis-Regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'Metropolis';
  src: url('../public/fonts/metropolis/Metropolis-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'Metropolis';
  src: url('../public/fonts/metropolis/Metropolis-ExtraBold.otf');
  font-weight: 900;
}
